
@{
    ViewBag.Title = "Administration Menu";
}

<div class="row ">
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card">
            <h5 class="card-header text-white bg-success">Budget</h5>
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Budget IT</h5>
                <p class="card-text">Página que muestra detalles del budget del departamento</p>
                <a href=@Url.Action("Master_Hardware" , "Administration") class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card">
            <h5 class="card-header text-white bg-success">ShiftLog</h5>
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Registro y detalles de shiftlog IT Team</h5>
                <p class="card-text">Página que muestra el listado de shiftlog del area de IT</p>
                <a href=@Url.Action("DowntimeEntry" , "Administration") class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card ">
            <h5 class="card-header text-white bg-success">User Managment</h5>
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Detalle de Usuarios IRS</h5>
                <p class="card-text">Página que muestra los usuarios registrados en el IRS</p>
                <a href=@Url.Action("Error_Codes" , "Administration") class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">

    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card">
            <h5 class="card-header text-white bg-success">Projects</h5>
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Proyectos de IT</h5>
                <p class="card-text">Página que muestra los detalles de proyectos de IT</p>
                <a href=@Url.Action("Kiosk_Configuration" , "Administration") class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card">
            <h5 class="card-header text-white bg-success">Documents</h5>
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Documentos de IT</h5>
                <p class="card-text">Página que muestra los documentos del departamento de IT</p>
                <a href=@Url.Action("Mostrar_Documento" , "Administration") class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card">
            <h5 class="card-header text-white bg-success">Suppliers</h5>
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Detalles de proveedores</h5>
                <p class="card-text">Muestra los detalles y documentos de proveedores</p>
                <a href=@Url.Action("PLC_Activation" , "Administration") class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>

</div>
