
@{
    ViewBag.Title = "ShiftLog";
}

<h2><b class="container">📝 Datos de la incidencia</b></h2>
<hr />

<div class="container">
    <table border="1" class="form-control" style="border-width:medium" align="center" cellspacing="0" cellpadding="5">
        <tr align="center">
            <td height="50" width="150">Mi tabla</td>
            <th width="200">Primera Columna</th>
            <th width="200">Segunda Columna</th>
        </tr>
        <tr>
            <th height="75" valign="top">Primera fila</th>
            <td align="center">A-1</td>
            <td align="right">A-2</td>
        </tr>
        <tr>
            <th height="75" valign="bottom">Segunda fila</td>
            <td align="center" valign="bottom">B-1</td>
            <td align="center" valign="top">B-2</td>
        </tr>
    </table>


</div>
