@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="align-text-top">Comunicados Marelli Mexicana</h1>
</div>

<div class="row">
    <img src="@Url.Content("~/Imagenes/comunicado.png")" width="300" height="750" />
</div>