
@{
    ViewBag.Title = "Saludo";
}

<h2>Saludo</h2>
<hr />

<div class="container">
    <p>Hola @Model.nombre @Model.apellido</p>
    <p>Edad: @Model.edad</p>
    <p>Dirección: @Model.direccion</p>
</div>
