
@{
    ViewBag.Title = "Valor Menu";
}

  <div class="row ">
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card border-info">
            <h5 class="card-header text-white bg-info">Declaration Errors</h5>
            <div class="card-body">
                <h5 class="card-title">Detalle de Errores de Declaraion</h5>
                <p class="card-text">Página que muestra los errores de Declaracion para SMTs</p>
                <a href=@Url.Action("Declaration_Errors" , "Process") class="btn btn-warning">Ir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card border-info">
            <h5 class="card-header text-white bg-info">Downtime Entry</h5>
            <div class="card-body">
                <h5 class="card-title">Detalle de Tiempo muerto</h5>
                <p class="card-text">Página que muestra el detalle del tiempo muerto en SMT</p>
                <a href=@Url.Action("DowntimeEntry" , "Process") class="btn btn-warning">Ir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card border-info">
            <h5 class="card-header text-white bg-info">Error Codes</h5>
            <div class="card-body">
                <h5 class="card-title">Detalle de Código de Errores</h5>
                <p class="card-text">Página que muestra los códigos de error en lineas de producción</p>
                <a href=@Url.Action("Error_Codes" , "Process") class="btn btn-warning">Ir</a>
            </div>
        </div>
    </div>
  </div>
  <br />
  <div class="row">

      <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="card border-info">
              <h5 class="card-header text-white bg-info">Kiosko Configuration</h5>
              <div class="card-body">
                  <h5 class="card-title">Configuracion del Kiosco SMTs</h5>
                  <p class="card-text">Página que muestra los detalles de configuración del Kisko para las lineas SMT</p>
                  <a href=@Url.Action("Kiosk_Configuration" , "Process") class="btn btn-warning">Ir</a>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="card border-info">
              <h5 class="card-header text-white bg-info">PLC Activation</h5>
              <div class="card-body">
                  <h5 class="card-title">Detalle de Activacion de PLC SMTs</h5>
                  <p class="card-text">Página que muestra los PLC disponubles para ser activados</p>
                  <a href=@Url.Action("PLC_Activation" , "Process") class="btn btn-warning">Ir</a>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="card border-info">
              <h5 class="card-header text-white bg-info">OEE Reporting</h5>
              <div class="card-body">
                  <h5 class="card-title">Detalle de OEE Reportado</h5>
                  <p class="card-text">Página que muestra el detalle del reporte OEE</p>
                  <a href=@Url.Action("OEE_Reporting" , "Process") class="btn btn-warning">Ir</a>
              </div>
          </div>
      </div>
  </div>
  <br />
  <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="card border-info">
              <h5 class="card-header text-white bg-info">Trace History Check Estaciones de Selectivos</h5>
              <div class="card-body">
                  <h5 class="card-title">Detalle del History Check en Estaciones de Selectivos</h5>
                  <p class="card-text">Página que muestra el detalle del proceso History Check para estaciones de selectivos.</p>
                  <a href=@Url.Action("History_Check_Selectivos" , "Process") class="btn btn-warning">Ir</a>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="card border-info">
              <h5 class="card-header text-white bg-info">Trace Errors</h5>
              <div class="card-body">
                  <h5 class="card-title">Detalle de errores en el proceso de trazabilidad</h5>
                  <p class="card-text">Página que muestra el detalle de los errores en el proceso de trazabilidad</p>
                  <a href=@Url.Action("Trace_Errors" , "Process") class="btn btn-warning">Ir</a>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="card border-info">
              <h5 class="card-header text-white bg-info">Trace History Check Lineas de Ensamble</h5>
              <div class="card-body">
                  <h5 class="card-title">Detalle del History Check en Lineas de Ensamble</h5>
                  <p class="card-text">Página que muestra el detalle del proceso History Check para lineas de ensamble.</p>
                  <a href=@Url.Action("History_Check" , "Process") class="btn btn-warning">Ir</a>
              </div>
          </div>
      </div>
      </div>
      <br />
      <div class="row">
          <div class="col-md-4 col-sm-4 col-lg-4">
              <div class="card border-info">
                  <h5 class="card-header text-white bg-info">Traceability Desactivation</h5>
                  <div class="card-body">
                      <h5 class="card-title">Desactivación de trazabilidad</h5>
                      <p class="card-text">Página que muestra la desactivación de trazabilidad</p>
                      <a href=@Url.Action("Trace_Desactivation" , "Process") class="btn btn-warning">Ir</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-4 col-lg-4">
              <div class="card border-info">
                  <h5 class="card-header text-white bg-info">Valor Declaration</h5>
                  <div class="card-body">
                      <h5 class="card-title">Detalle del proceso de declaración</h5>
                      <p class="card-text">Página que muestra el detalle del proceso de declaración</p>
                      <a href=@Url.Action("Valor_Declaration" , "Process") class="btn btn-warning">Ir</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-4 col-lg-4">
              <div class="card border-info">
                  <h5 class="card-header text-white bg-info">Declaration Programs</h5>
                  <div class="card-body">
                      <h5 class="card-title">Detalle de los programas de produccion</h5>
                      <p class="card-text">Página que muestra el detalle de los programas de produccion</p>
                      <a href=@Url.Action("Declaration_Programs" , "Process") class="btn btn-warning">Ir</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-4 col-lg-4">
              <div class="card border-info">
                  <h5 class="card-header text-white bg-info">System Errors</h5>
                  <div class="card-body">
                      <h5 class="card-title">Detalle los errores del Sistema</h5>
                      <p class="card-text">Página que muestra el hitórico de errores en el sistema</p>
                      <a href=@Url.Action("System_Erros" , "Process") class="btn btn-warning">Ir</a>
                  </div>
              </div>
          </div>
      </div>
