
@{
    ViewBag.Title = "Valor Menu";
}

  <div class="row ">
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card border-info">
            <h5 class="card-header text-white bg-info">OEE Reporting</h5>
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Detalle de OEE Reportado</h5>
                <p class="card-text">Página que muestra el detalle del reporte OEE</p>
                <a href=@Url.Action("OeeSMT" , "LineTracking") class="btn btn-info">Ir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card border-info">
            <h5 class="card-header text-white bg-info">Downtime Entry</h5>
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Detalle de Tiempo muerto</h5>
                <p class="card-text">Página que muestra el detalle del tiempo muerto en SMT</p>
                <a href=@Url.Action("DowntimeEntry" , "Process") class="btn btn-info">Ir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card border-info">
            <h5 class="card-header text-white bg-info">Components Trace</h5>
            <div class="card-body text-white bg-primary">
                <h5 class="card-title">Registro de componentes en SMT</h5>
                <p class="card-text">Página que muestra los registros de componentes usados en lineas SMT</p>
                <a href=@Url.Action("ComponentTrace" , "Process") class="btn btn-info">Ir</a>
            </div>
        </div>
    </div>
  </div>
  <br />
  <div class="row">

      <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="card border-info">
              <h5 class="card-header text-white bg-info">SMT & Services Summry</h5>
              <div class="card-body text-white bg-primary">
                  <h5 class="card-title">Resumen de lineas y servicios en tiempo real</h5>
                  <p class="card-text">Página que muestra en tiempo real el estado de lineas SMT y servicios del sistema VALOR</p>
                  <a href=@Url.Action("Index" , "LineTracking") class="btn btn-info">Ir</a>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="card border-info">
              <h5 class="card-header text-white bg-info">Registro de componentes x PCBs</h5>
              <div class="card-body text-white bg-primary">
                  <h5 class="card-title">Detalle de componentes colocados a PCBs</h5>
                  <p class="card-text">Página que muestra la relacion del Component ID vs un número de serie de PCB.</p>
                  <a href=@Url.Action("ComponentAndPCB" , "Process") class="btn btn-info">Ir</a>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="card border-info">
              <h5 class="card-header text-white bg-info">System Errors</h5>
              <div class="card-body text-white bg-primary">
                  <h5 class="card-title">Detalle los errores del Sistema</h5>
                  <p class="card-text">Página que muestra el hitórico de errores en el sistema</p>
                  <a href=@Url.Action("System_Erros" , "Process") class="btn btn-info">Ir</a>
              </div>
          </div>
      </div>
  </div>
  <br />
  <div class="row">
      <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="card border-info">
              <h5 class="card-header text-white bg-info">Trace History Check Selectivos</h5>
              <div class="card-body text-white bg-primary">
                  <h5 class="card-title">Detalle del History Check en Estaciones de Selectivos</h5>
                  <p class="card-text">Página que muestra el detalle del proceso History Check para estaciones de selectivos.</p>
                  <a href=@Url.Action("History_Check_Selectivos" , "Process") class="btn btn-info">Ir</a>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="card border-info">
              <h5 class="card-header text-white bg-info">Trace Errors</h5>
              <div class="card-body text-white bg-primary">
                  <h5 class="card-title">Detalle de errores en el proceso de trazabilidad</h5>
                  <p class="card-text">Página que muestra el detalle de los errores en el proceso de trazabilidad</p>
                  <a href=@Url.Action("Trace_Errors" , "Process") class="btn btn-info">Ir</a>
              </div>
          </div>
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4">
          <div class="card border-info">
              <h5 class="card-header text-white bg-info">Trace History Check Ensamble</h5>
              <div class="card-body text-white bg-primary">
                  <h5 class="card-title">Detalle del History Check en Lineas de Ensamble</h5>
                  <p class="card-text">Página que muestra el detalle del proceso History Check para lineas de ensamble.</p>
                  <a href=@Url.Action("History_Check" , "Process") class="btn btn-info">Ir</a>
              </div>
          </div>
      </div>
      </div>
      <br />
      <div class="row">
          <div class="col-md-4 col-sm-4 col-lg-4">
              <div class="card border-info">
                  <h5 class="card-header text-white bg-info">Traceability Desactivation</h5>
                  <div class="card-body text-white bg-primary">
                      <h5 class="card-title">Desactivación de trazabilidad</h5>
                      <p class="card-text">Página que muestra la desactivación de trazabilidad</p>
                      <a href=@Url.Action("Trace_Desactivation" , "Process") class="btn btn-info">Ir</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-4 col-lg-4">
              <div class="card border-info">
                  <h5 class="card-header text-white bg-info">Valor Declaration</h5>
                  <div class="card-body text-white bg-primary">
                      <h5 class="card-title">Detalle del proceso de declaración</h5>
                      <p class="card-text">Página que muestra el detalle del proceso de declaración</p>
                      <a href=@Url.Action("Valor_Declaration" , "Process") class="btn btn-info">Ir</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4 col-sm-4 col-lg-4">
              <div class="card border-info">
                  <h5 class="card-header text-white bg-info ">Declaration Programs</h5>
                  <div class="card-body text-white bg-primary">
                      <h5 class="card-title">Detalle de los programas de produccion</h5>
                      <p class="card-text">Página que muestra el detalle de los programas de produccion</p>
                      <a href=@Url.Action("Declaration_Programs" , "Process") class="btn btn-info">Ir</a>
                  </div>
              </div>
          </div>
      </div>
      
