
@{
    ViewBag.Title = "Add_Software";
}

<h2>Agregar Software</h2>

<hr>
<div class="form-horizontal">



    <form action="~/Home/Index" method="post">

        <div class="row">

            <div class="col-md-1">
                <label>Software Title</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" autofocus required />

            </div>




        </div>

        <br>

        <div class="row">



            <div class="col-md-1">
                <label>Vendor:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" autofocus required />

            </div>

        </div>


        <br>


        <div class="row">

            <div class="col-md-1">
                <label>Purchase Licences:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" autofocus required />

            </div>


        </div>

        <br>

        <div class="row">

            <div class="col-md-1">
                <label>Purchased by (Site):</label>
            </div>

            <div class="col-md-1">
                <select class="form-control" aria-label="Type" autofocus required>
                    <option disabled selected value="Espacio">   </option>
                    <option value="tepo">TEPO</option>
                    <option value="tol">TOL</option>


                </select>



            </div>

        </div>

        <br>


        <div class="row">

            <div class="col-md-1">
                <label>PO Number:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" autofocus required />

            </div>




        </div>

        <br>

        <div class="row">

            <div class="col-md-1">
                <label>KEY Licence:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" autofocus required />

            </div>




        </div>

        <br>


        <div class="row">

            <div class="col-md-1">
                <label>Is a MM Standard:</label>
            </div>

            <div class="col-md-1">
                <select class="form-control" aria-label="Type" autofocus required>
                    <option disabled selected value="Espacio">   </option>
                    <option value="tepo">TEPO</option>
                    <option value="tol">TOL</option>


                </select>



            </div>

        </div>

        <br>


        <div class="row">

            <div class="col-md-offset-2 col-md-1">
                <input type="submit" value="Enviar" class="btn btn-success">

            </div>



            <div class=" col-md-1 ">
                <input type="submit" value="Cancel" class="btn btn-danger">

            </div>

        </div>

    </form>


</div>


