
@{
    ViewBag.Title = "Add_Vendor";
}

<h2>Agregar Vendor</h2>

<hr>
<div class="form-horizontal">



    <form action="~/Home/Index" method="post">

        <div class="row">

            <div class="col-md-1">
                <label>Vendor Name</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" autofocus required />

            </div>




        </div>

        <br>

        <div class="row">



            <div class="col-md-1">
                <label>Contacts</label>
            </div>
            <div class="col-md-3">
                <textarea type="text" class="form-control" autofocus required style="width:510px; height: 70px;">
                </textarea>

            </div>

        </div>


        <br>


        <div class="row">

            <div class="col-md-1">
                <label>Phone number:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" autofocus required />

            </div>


        </div>



        <br>


        <div class="row">

            <div class="col-md-1">
                <label>Email Adress:</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" autofocus required />

            </div>




        </div>

        <br>

        <div class="row">

            <div class="col-md-1">
                <label>Adress:</label>
            </div>
            <div class="col-md-3">
                <textarea type="text" class="form-control" autofocus required style="width:510px; height: 70px;">
                </textarea>

            </div>




        </div>

        <br>


        <div class="row">

            <div class="col-md-1">
                <label>Service Offered</label>
            </div>
            <div class="col-md-3">
                <textarea type="text" class="form-control" autofocus required style="width:510px; height: 70px;">
                </textarea>

            </div>

        </div>

        <br>


        <div class="row">

            <div class="col-md-offset-1 col-md-1">
                <input type="submit" value="Enviar" class="btn btn-success">

            </div>



            <div class=" col-md-1 ">
                <input type="submit" value="Cancel" class="btn btn-danger">

            </div>

        </div>

    </form>


</div>
