
@{
    ViewBag.Title = "Add_Modelo_Hardware";
}

<h2> Agregar Modelo Hardaware</h2>

<hr>
<div class="form-horizontal">



    <form action="~/Home/Index" method="post">

        <div class="row">

            <div class="col-md-1">
                <label>Model</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" autofocus required />

            </div>




        </div>

        <br>

        <div class="row">



            <div class="col-md-1">
                <label>Speed(Mhz):</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" autofocus required />

            </div>


            <div class="col-md-1">
                <label>Memory(MB):</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" autofocus required />

            </div>

            <div class="col-md-1">
                <label>HD(GB):</label>
            </div>
            <div class="col-md-2">
                <input type="text" class="form-control" autofocus required />

            </div>





        </div>


        <br>


        <div class="row">

            <div class="col-md-1">
                <label>Vendor</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" autofocus required />

            </div>


            <div class="col-md-1">
                <label>Type</label>
            </div>

            <div class="col-md-3">
                <select class="form-control" aria-label="Type" autofocus required>
                    <option disabled selected value="Espacio">   </option>
                    <option value="tepo">BOCINA</option>
                    <option value="tol">CAMARA</option>
                    <option value="tepo">DESKTOP</option>
                    <option value="tol">LAPTOP</option>
                    <option value="tepo">MONITOR</option>
                    <option value="tol">PRINTER</option>
                    <option value="tepo">PROYECTOR</option>
                    <option value="tol">ESCANNER</option>
                    <option value="tepo">SERVIDOR</option>
                    <option value="tol">SWITCH</option>
                    <option value="tepo">TELEFONO FIJO</option>
                    <option value="tol">UPS</option>
                    <option value="tepo">LECTOR</option>
                    <option value="tol">BASE HAND HELD</option>
                    <option value="tepo">DOCKING STATION</option>






                </select>



            </div>



        </div>

        <br>


        <div class="row">

            <div class="col-md-1">
                <label>Operator</label>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" autofocus required />

            </div>



            <div class="col-md-1">
                <label>Create Date</label>
            </div>
            <div class="col-md-3">
                <input type="date" class="form-control" autofocus required />

            </div>


        </div>

        <br>


        <div class="row">

            <div class="col-md-offset-1 col-md-1">
                <input type="submit" value="Enviar" class="btn btn-success">

            </div>



            <div class=" col-md-1 ">
                <input type="submit" value="Cancel" class="btn btn-danger">

            </div>

        </div>

    </form>


</div>

