
@{
    ViewBag.Title = "Assets_Apps";
}




<section class="row g-3 gx-5 gy-5">
    <div class="card col-md-4">
        <h5 class="card-header">Hardware Inventory</h5>
        <div class="card-body">
            <h5 class="card-title">Detalle de Inventario de Computo</h5>
            <p class="card-text">Pagina que muestra el inventario de computo</p>
            <a href=@Url.Action("Add_Hardware" , "Assets") class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="card col-md-4">
        <h5 class="card-header">Software Inventory</h5>
        <div class="card-body">
            <h5 class="card-title">Detalle de Inventario de Software</h5>
            <p class="card-text">Pagina que muestra el inventario de Sofware</p>
            <a href=@Url.Action("Add_Software" , "Assets") class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="card col-md-4">
        <h5 class="card-header">Acounts</h5>
        <div class="card-body">
            <h5 class="card-title">Tpos de cuentas</h5>
            <p class="card-text">Pagina que muestra el inventario de cuents.</p>
            <a href=@Url.Action("Error_Codes" , "Process") class="btn btn-primary">Go</a>
        </div>
    </div>

    <div class="card col-md-4">
        <h5 class="card-header">Kiosko Configuration</h5>
        <div class="card-body">
            <h5 class="card-title">Detalle de Configuracion del Kiosco SMTs</h5>
            <p class="card-text">Pagina que muestra......</p>
            <a href=@Url.Action("Kiosk_Configuration" , "Process") class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="card col-md-4">
        <h5 class="card-header">PLC Activation</h5>
        <div class="card-body">
            <h5 class="card-title">Detalle de Activacion de PLC SMTs</h5>
            <p class="card-text">Pagina que muestra......</p>
            <a href=@Url.Action("PLC_Activation" , "Process") class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="card col-md-4">
        <h5 class="card-header">OEE Reporting</h5>
        <div class="card-body">
            <h5 class="card-title">Detalle de OEE Reportado</h5>
            <p class="card-text">Pagina que muestra......</p>
            <a href=@Url.Action("OEE_Reporting" , "Process") class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="card col-md-4">
        <h5 class="card-header">System Errors</h5>
        <div class="card-body">
            <h5 class="card-title">Detalle de......</h5>
            <p class="card-text">Pagina que muestra......</p>
            <a href=@Url.Action("System_Erros" , "Process") class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="card col-md-4">
        <h5 class="card-header">Trace Errors</h5>
        <div class="card-body">
            <h5 class="card-title">Detalle de......</h5>
            <p class="card-text">Pagina que muestra......</p>
            <a href=@Url.Action("Trace_Errors" , "Process") class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="card col-md-4">
        <h5 class="card-header">Trace History Check</h5>
        <div class="card-body">
            <h5 class="card-title">Detalle de......</h5>
            <p class="card-text">Pagina que muestra......</p>
            <a href=@Url.Action("History_Check" , "Process") class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="card col-md-4">
        <h5 class="card-header">Traceability Desactivation</h5>
        <div class="card-body">
            <h5 class="card-title">Detalle de......</h5>
            <p class="card-text">Pagina que muestra......</p>
            <a href=@Url.Action("Trace_Desactivation" , "Process") class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="card col-md-4">
        <h5 class="card-header">Valor Declaration</h5>
        <div class="card-body">
            <h5 class="card-title">Detalle de......</h5>
            <p class="card-text">Pagina que muestra......</p>
            <a href=@Url.Action("Valor_Declaration" , "Process") class="btn btn-primary">Go</a>
        </div>
    </div>
</section>
