
@{
    ViewBag.Title = "Assets Menu";
}

<div class="row ">
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card border-danger">
            <h5 class="card-header text-white bg-danger">Master Hardware</h5>
            <div class="card-body">
                <h5 class="card-title">Hardware Inventory</h5>
                <p class="card-text">Look at Marelli Hardware Inventory</p>
                <a href=@Url.Action("Master_Hardware" , "Assets") class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card border-danger">
            <h5 class="card-header text-white bg-danger">Downtime Entry</h5>
            <div class="card-body">
                <h5 class="card-title">Detalle de Tiempo muerto</h5>
                <p class="card-text">Página que muestra el detalle del tiempo muerto en SMT</p>
                <a href=@Url.Action("DowntimeEntry" , "Assets") class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card border-danger">
            <h5 class="card-header text-white bg-danger">Error Codes</h5>
            <div class="card-body">
                <h5 class="card-title">Detalle de Código de Errores</h5>
                <p class="card-text">Página que muestra los códigos de error en lineas de producción</p>
                <a href=@Url.Action("Error_Codes" , "Assets") class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">

    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card border-danger">
            <h5 class="card-header text-white bg-danger">Kiosko Configuration</h5>
            <div class="card-body">
                <h5 class="card-title">Configuracion del Kiosco SMTs</h5>
                <p class="card-text">Página que muestra los detalles de configuración del Kisko para las lineas SMT</p>
                <a href=@Url.Action("Kiosk_Configuration" , "Assets") class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card border-danger">
            <h5 class="card-header text-white bg-danger">PLC Activation</h5>
            <div class="card-body">
                <h5 class="card-title">Detalle de Activacion de PLC SMTs</h5>
                <p class="card-text">Página que muestra los PLC disponubles para ser activados</p>
                <a href=@Url.Action("PLC_Activation" , "Assets") class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card border-danger">
            <h5 class="card-header text-white bg-danger">OEE Reporting</h5>
            <div class="card-body">
                <h5 class="card-title">Detalle de OEE Reportado</h5>
                <p class="card-text">Página que muestra el detalle del reporte OEE</p>
                <a href=@Url.Action("OEE_Reporting" , "Assets") class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card border-danger">
            <h5 class="card-header text-white bg-danger">System Errors</h5>
            <div class="card-body">
                <h5 class="card-title">Detalle los errores del Sistema</h5>
                <p class="card-text">Página que muestra el hitórico de errores en el sistema</p>
                <a href=@Url.Action("System_Erros" , "Assets") class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card border-danger">
            <h5 class="card-header text-white bg-danger">Trace Errors</h5>
            <div class="card-body">
                <h5 class="card-title">Detalle de errores de trazabilidad</h5>
                <p class="card-text">Página que muestra el histórico de los errores en el proceso de trazabilidad</p>
                <a href=@Url.Action("Trace_Errors" , "Assets") class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card border-danger">
            <h5 class="card-header text-white bg-danger">Trace History Check</h5>
            <div class="card-body">
                <h5 class="card-title">Detalle del History Check</h5>
                <p class="card-text">Página que muestra el detalle del proceso History Check.</p>
                <a href=@Url.Action("History_Check" , "Assets") class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card border-danger">
            <h5 class="card-header text-white bg-danger">Traceability Desactivation</h5>
            <div class="card-body">
                <h5 class="card-title">Desactivación de trazabilidad</h5>
                <p class="card-text">Página que muestra la desactivación de trazabilidad</p>
                <a href=@Url.Action("Trace_Desactivation" , "Assets") class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4">
        <div class="card border-danger">
            <h5 class="card-header text-white bg-danger">Valor Declaration</h5>
            <div class="card-body">
                <h5 class="card-title">Detalle del proceso de declaración</h5>
                <p class="card-text">Página que muestra el detalle del proceso de declaración</p>
                <a href=@Url.Action("Valor_Declaration" , "Assets") class="btn btn-success">Ir</a>
            </div>
        </div>
    </div>
</div>
